@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: $font-general ; 
    background-color: whitesmoke;
    min-height: 100vh;
    margin: 0px;
}

.text-deco{
    text-align: center;
}
li{
    list-style: none;
}

.container img {
    @include img(1100px, 800px );
    border: 3px solid rgb(107, 80, 45);    
}

h1{
    margin-bottom: 30px;
}


p{
    font-size:$p-size ;
}

header{
    background-color: $header-color;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    font-size: 17px;   
        li a:hover{
            background-color: rgba(100, 93, 92, 0.267);
            border-bottom: 1px solid rgb(180, 180, 180);
        }
        
   
}


.sesion{
    margin-right: 70px; 
}

header .btn{
    color: rgb(228, 212, 202);
    font-weight: 500;
    background-color: rgb(88, 40, 20);
    border-color: beige;
    &:hover{
        background-color: rgb(116, 31, 6);
        border-color: beige;
    }    
}

.navact{
    background-color: #7F675B;
    border-radius: 3px;

}


.nav-link{
    margin: 0px 5px 0px 5px;
}

.me-auto{
    margin-left: 60px;
}



footer{
    background-color: $footer-color;
    color: white;  
    padding: 5px 0px 2px 0px;
    @include flex(null, wrap );
    justify-content: center;


}

.borderf{
    border: 0;
    border-top: 2px solid black;
    width: 80vw;
}


footer div ul{
    display: flex;
    gap: 50px;
    justify-content: center;
}

footer div p{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;

}



ul li a img{
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    
}

ul li a{
    display: flex;
    justify-content: center;
}

ul li p{
    margin-top: 4px;
    
}

#ig{
    width: 50px;
    height: 50px;
    margin: 0;

    

}

