@use '../utilities/mixins' as *;

.noticias{
    text-align: left;
    display: grid;
    grid-template-columns: 75vw 25vw;
}

.noticias main{
    background-color:whitesmoke;

}

aside{
    @include flex(column, null );
    margin: 100px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px ;
    height: 1500px;


}

@media (max-width:700px){
    .noticias{
        @include flex(column, null );
    }
}

.noticias img{
    width: 500px;
    height: fit-content;
    margin-bottom: 40px;
}

aside h3{
    font-size: larger ;

}
aside p{
    font-size: medium;
}




